body {
  margin: 0;
  font-family: $roboto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: $main-title;
}

h2 {
  text-transform: uppercase;
}
