//  BUTTONS //

.button {
  padding: 7px 12px;
  border-radius: 20px;
  text-align: center;

  &-main-orange {
    background-color: $orange-light;
    color: white;
  }
  &-blue {
    background-color: $main-blue;
    color: white;
  }
}
