@import url("https://fonts.googleapis.com/css2?family=Purple+Purse&family=Roboto:wght@400;700&display=swap");

// COLORS

$main-blue: #167387;
$blue-sky: #a4ebf3;
$blue-light: #ccf2f4;
$white-cream: #f4f9f9;
$grey: #2b2b2b;

// ------------ Font-family ---------- //

$main-title: "Purple Purse", cursive;
$roboto: "Roboto", sans-serif;

//  Box shadow

$shadow-main: 0px 1px 8px #b2b2b2;
